/Qian100/Qian100/obj
/Qian100/Qian100/bin
/Qian100/Qian100.Application/obj
/Qian100/Qian100.Application/bin
/Qian100/Qian100.Client.WebApi/obj
/Qian100/Qian100.Client.WebApi/bin
/Qian100/Qian100.Common/obj
/Qian100/Qian100.Common/bin
/Qian100/Qian100.ConsoleTest/bin
/Qian100/Qian100.ConsoleTest/obj
/Qian100/Qian100.Core/obj
/Qian100/Qian100.Core/bin
/Qian100/Qian100.Dapper/obj
/Qian100/Qian100.Dapper/bin
/Qian100/Qian100.Deposit/obj
/Qian100/Qian100.Deposit/bin
/Qian100/Qian100.Docker/obj
/Qian100/Qian100.EntityFrameworkCore/obj
/Qian100/Qian100.EntityFrameworkCore/bin
/Qian100/Qian100.Mvc/obj
/Qian100/Qian100.Mvc/bin
/Qian100/Qian100.Operator.Appliaction/obj
/Qian100/Qian100.Operator.Appliaction/bin
/Qian100/Qian100.Operator.WebApi/obj
/Qian100/Qian100.Operator.WebApi/bin
/Qian100/Qian100.Redis/bin
/Qian100/Qian100.Redis/obj
/Qian100/Qian100.XUnitTest/bin
/Qian100/Qian100.XUnitTest/obj
/XCore/Qian100.Application/obj
/XCore/Qian100.Application/bin
/XCore/Qian100.Client.WebApi/bin
/XCore/Qian100.Client.WebApi/obj
/XCore/Qian100.Common/obj
/XCore/Qian100.Common/bin
/XCore/Qian100.ConsoleTest/bin
/XCore/Qian100.ConsoleTest/obj
/XCore/Qian100.Core/bin
/XCore/Qian100.Core/obj
/XCore/Qian100.Dapper/obj
/XCore/Qian100.Dapper/bin
/XCore/Qian100.Deposit/obj
/XCore/Qian100.Deposit/bin
/XCore/Qian100.Docker/obj
/XCore/Qian100.Entity/bin
/XCore/Qian100.Entity/obj
/XCore/Qian100.EntityFrameworkCore/bin
/XCore/Qian100.EntityFrameworkCore/obj
/XCore/Qian100.Mvc/bin
/XCore/Qian100.Mvc/obj
/XCore/Qian100.Operator.Appliaction/bin
/XCore/Qian100.Operator.Appliaction/obj
/XCore/Qian100.Operator.WebApi/obj
/XCore/Qian100.Operator.WebApi/bin
/XCore/Qian100.Redis/obj
/XCore/Qian100.Redis/bin
/XCore/Qian100.XUnitTest/obj
/XCore/Qian100.XUnitTest/bin
/XCore/Application/bin
/XCore/Application/obj
/XCore/WebApi/bin
/XCore/WebApi/obj
/XCore/XCore.Ado/bin
/XCore/XCore.Ado/obj
/XCore/XCore.Common/obj
/XCore/XCore.Common/bin
/XCore/XCore.ConsoleTest/obj
/XCore/XCore.ConsoleTest/bin
/XCore/XCore.Dapper/obj
/XCore/XCore.Dapper/bin
/XCore/XCore.EntityFrameworkCore/bin
/XCore/XCore.EntityFrameworkCore/obj
/XCore/XCore.Mvc/obj
/XCore/XCore.Mvc/bin
/XCore/XCore.XUnitTest/obj
/XCore/XCore.XUnitTest/bin
/XCore/XCore/obj
/XCore/XCore/bin
/XCore/XCore.Redis/bin
/XCore/XCore.Redis/obj
/XCore/XCore.Web/bin
/XCore/XCore.Web/obj
/XCore/XCore.EntityFramework/obj
/XCore/XCore.EntityFramework/bin
/XCore/Element/Element.Application/obj
/XCore/Element/Element.Application/bin
/XCore/Element/Element.Entity/obj
/XCore/Element/Element.WebApi/bin
/XCore/Element/Element.WebApi/obj
/XCore/Test/XCore.ConsoleTest/bin
/XCore/Test/XCore.ConsoleTest/obj
/XCore/Test/XCore.XUnitTest/bin
/XCore/Test/XCore.XUnitTest/obj
/XCore/XCore.Files/bin
/XCore/XCore.Files/obj
/XCore/XCore.RabbitMQ/bin
/XCore/XCore.RabbitMQ/obj
/XCore/XCore.Service/bin
/XCore/XCore.Service/obj
/XCore/Element/Element.Entity/bin
/XCore/Element/Element.Core/bin
/XCore/Element/Element.Core/obj
/XCore/Element/Element.Cache/obj
/XCore/Element/Element.Cache/bin
/XCore/Element/Element.EntityFramework/bin
/XCore/Element/Element.EntityFramework/obj
/XCore/Element/Element.Queue/bin
/XCore/Element/Element.Queue/obj
/XCore/Element/Element.WebApi/key.public.json
/XCore/Element/Element.WebApi/key.json
/XCore/.vs
/XCore/Microservice/Microservice.Authorization/bin
/XCore/Microservice/Microservice.Authorization/obj
/XCore/Microservice/Microservice.Logger/bin
/XCore/Microservice/Microservice.Logger/obj
/XCore/Microservice/Microservice.WebFile/wwwroot
/XCore/Microservice/Microservice.WebFile/bin
/XCore/Microservice/Microservice.WebFile/obj
/XCore/Publish
/XCore/SaaS/SaaS.Cache/obj
/XCore/SaaS/SaaS.Cache/bin
/XCore/SaaS/SaaS.Client.Application/obj
/XCore/SaaS/SaaS.Client.Application/bin
/XCore/SaaS/SaaS.Client.WebApi/key.json
/XCore/SaaS/SaaS.Client.WebApi/key.public.json
/XCore/SaaS/SaaS.Client.WebApi/bin
/XCore/SaaS/SaaS.Client.WebApi/Logs
/XCore/SaaS/SaaS.Client.WebApi/obj
/XCore/SaaS/SaaS.Core/obj
/XCore/SaaS/SaaS.Core/bin
/XCore/SaaS/SaaS.Entity/obj
/XCore/SaaS/SaaS.Entity/bin
/XCore/SaaS/SaaS.Scheduler/obj
/XCore/SaaS/SaaS.Scheduler/bin
/XCore/SaaS/SaaS.System.Application/obj
/XCore/SaaS/SaaS.System.Application/bin
/XCore/SaaS/SaaS.System.Test/obj
/XCore/SaaS/SaaS.System.Test/bin
/XCore/SaaS/SaaS.System.WebApi/obj
/XCore/SaaS/SaaS.System.WebApi/bin
/XCore/Test/Microservice.AuthorizationTest/obj
/XCore/Test/Microservice.AuthorizationTest/bin
/XCore/Test/XCore.QuartzTest/bin
/XCore/Test/XCore.QuartzTest/obj
/XCore/Test/XCore.RabbitMQTest/obj
/XCore/Test/XCore.RabbitMQTest/bin
/XCore/Test/XCore.RedisTest/bin
/XCore/Test/XCore.RedisTest/obj
/XCore/Utils/XCore/obj
/XCore/Utils/XCore/bin
/XCore/Utils/XCore.Client/obj
/XCore/Utils/XCore.Client/bin
/XCore/Utils/XCore.Mvc/obj
/XCore/Utils/XCore.Mvc/bin
/XCore/Utils/XCore.Quartz/obj
/XCore/Utils/XCore.Quartz/bin
/XCore/Utils/XCore.RabbitMQ/obj
/XCore/Utils/XCore.RabbitMQ/bin
/XCore/Utils/XCore.Redis/obj
/XCore/Utils/XCore.Redis/bin
/XCore/SaaS/SaaS.System.WebApi/key.json
/XCore/SaaS/SaaS.System.WebApi/key.public.json
/XCore/SaaS/SaaS.Gateway.WebApi/obj
/XCore/SaaS/SaaS.Gateway.WebApi/bin
/XCore/SaaS/SaaS.File.WebApi/bin
/XCore/SaaS/SaaS.File.WebApi/obj
/XCore/SaaS/SaaS.File.WebApi/wwwroot
/XCore/SaaS/SaaS.Gateway.WebApi/Logs
/XCore/Utils/XCore.File/bin
/XCore/Utils/XCore.File/obj
/XCore/SaaS/SaaS.System.WebApi/Logs
/XCore/Utils/XCore.Web/obj
/XCore/Utils/XCore.Web/bin
/XCore/SaaS/SaaS.Blog.WebApi/obj
/XCore/SaaS/SaaS.Blog.WebApi/bin
/XCore/SaaS/SaaS.SignalR.WebApi/bin
/XCore/SaaS/SaaS.SignalR.WebApi/obj
/XCore/SaaS/SaaS.Test/obj
/XCore/SaaS/SaaS.Test/bin
/XCore/SaaS/SaaS.Blog.Application/obj
/XCore/SaaS/SaaS.Blog.Application/bin
/XCore/Utils/XCore.XUnitTest/obj
/XCore/Utils/XCore.XUnitTest/bin
/XCore/SaaS/SaaS.Blog.WebApi/Logs
/XCore/SaaS/SaaS.Common.WebApi/bin
/XCore/SaaS/SaaS.Common.WebApi/Logs
/XCore/SaaS/SaaS.Common.WebApi/obj
/XCore/SaaS/SaaS.Common.WebApi/wwwroot
/XCore/SaaS/SaaS.Util.Application/obj
/XCore/SaaS/SaaS.Util.Application/bin
/XCore/SaaS/SaaS.Util.WebApi/obj
/XCore/SaaS/SaaS.Util.WebApi/wwwroot
/XCore/SaaS/SaaS.Util.WebApi/bin
/XCore/SaaS/SaaS.Util.WebApi/Logs
/XCore/SaaS/SaaS.Scheduler.Application/obj
/XCore/SaaS/SaaS.Scheduler.Application/bin
/XCore/SaaS/SaaS.Hub.WebApi/obj
/XCore/SaaS/SaaS.Hub.WebApi/bin
/XCore/SaaS/SaaS.Tool/bin
/XCore/SaaS/SaaS.Tool/obj
/XCore/SaaS/SaaS.Model/obj
/XCore/MS/MS.Core/obj
/XCore/MS/MS.Core/bin
/XCore/MS/MS.File.WebApi/obj
/XCore/MS/MS.File.WebApi/bin
/XCore/MS/MS.Hub.WebApi/obj
/XCore/MS/MS.Hub.WebApi/bin
/XCore/MS/MS.Util.WebApi/bin
/XCore/MS/MS.Util.WebApi/obj
/XCore/MS/MS.File.WebApi/wwwroot
/XCore/MS/MS.File.WebApi/Logs
/XCore/SaaS/SaaS.Model/bin
/XCore/SaaS/SaaS.Admin.WebApi/bin
/XCore/SaaS/SaaS.Admin.WebApi/obj
/Publish
/XCore/obj
/XCore/bin
/XCore.Web/obj
/XCore.Web/bin
/XCore.XUnitTest/obj
/XCore.XUnitTest/bin
/XCore.MySql/obj
/XCore.MySql/bin
/.vs
/XCore.RabbitMQ.Test/bin
/XCore.RabbitMQ.Test/obj
/XCore.RabbitMQ/obj
/XCore.MySql.Test/bin
/XCore.MySql.Test/obj
/XCore.Sqlite/bin
/XCore.Sqlite/obj
/XCore.Sqlite.Test/bin
/XCore.Sqlite.Test/obj
/XCore.Test/bin
/XCore.Test/obj
/XCore.ElasticSearch/bin
/XCore.ElasticSearch/obj
/XCore.Redis/bin
/XCore.Redis/obj
/XCore.ElasticSearch.Test/obj
/XCore.Redis.Test/bin
/XCore.Redis.Test/obj
/Web/node_modules
/Web/.vscode
/XCore.ElasticSearch.Test/bin
/Simple.Core.Test/obj
/Simple.Core.Test/bin
/Simple.ElasticSearch.Test/obj
/Simple.ElasticSearch.Test/bin
/Simple.MySql.Test/bin
/Simple.MySql.Test/obj
/Simple.RabbitMQ.Test/obj
/Simple.RabbitMQ.Test/bin
/Simple.Redis.Test/bin
/Simple.Redis.Test/obj
/Simple.Sqlite.Test/bin
/Simple.Sqlite.Test/obj
/Simple.Net.Test/obj
/Simple.Net.Test/bin
/test/Simple.dotNet.Core.Test/obj
/test/Simple.dotNet.Core.Test/bin
/test/Simple.ElasticSearch.Test/bin
/test/Simple.ElasticSearch.Test/obj
/test/Simple.MySql.Test/obj
/test/Simple.MySql.Test/bin
/test/Simple.RabbitMQ.Test/obj
/test/Simple.RabbitMQ.Test/bin
/test/Simple.Redis.Test/obj
/test/Simple.Redis.Test/bin
/test/Simple.Sqlite.Test/bin
/test/Simple.Sqlite.Test/obj
/src/Simple.dotNet.Core/obj
/src/Simple.dotNet.Core/bin
/src/Simple.dotNet.Elasticsearch/bin
/src/Simple.dotNet.Elasticsearch/obj
/src/Simple.dotNet.MySql/obj
/src/Simple.dotNet.MySql/bin
/src/Simple.dotNet.RabbitMQ/obj
/src/Simple.dotNet.RabbitMQ/bin
/src/Simple.dotNet.Redis/obj
/src/Simple.dotNet.Redis/bin
/src/Simple.dotNet.Sqlite/bin
/src/Simple.dotNet.Sqlite/obj
/src/Simple.dotNet.Web/obj
/src/Simple.dotNet.Web/bin
/test/Simple.dotNet.Healthy.Test/bin
/test/Simple.dotNet.Healthy.Test/obj
/src/Simple.dotNet.Healthy/obj
/src/Simple.dotNet.Healthy/bin
/test/Simple.dotNet.MySql.Test/obj
/test/Simple.dotNet.MySql.Test/bin
/test/Simple.dotNet.RabbitMQ.Test/obj
/test/Simple.dotNet.RabbitMQ.Test/bin
/test/Simple.dotNet.Redis.Test/bin
/test/Simple.dotNet.Redis.Test/obj
/test/Simple.dotNet.Sqlite.Test/obj
/test/Simple.dotNet.Sqlite.Test/bin
/console/Simple.RabbitMQ/obj
/console/Simple.RabbitMQ/bin
/console/Simple.MongoDB.Test/bin
/console/Simple.MongoDB.Test/obj
/src/Simple.dotNet.MongoDB/bin
/src/Simple.dotNet.MongoDB/obj
/console/Simple.Core.Test/bin
/console/Simple.Core.Test/obj
